---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -zircon-*,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -readability-redundant-access-specifiers,
        -misc-non-private-member-variables-in-classes,
        -readability-identifier-length,
        -cppcoreguidelines-owning-memory,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -cppcoreguidelines-pro-type-vararg,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        -cppcoreguidelines-pro-bounds-constant-array-index,
        -cppcoreguidelines-pro-type-union-access,
        -hicpp-avoid-c-arrays
        -misc-non-private-member-variables-in-classes,
        -misc-use-anonymous-namespace,
        -misc-static-assert,
        -modernize-loop-convert,
        -hicpp-static-assert,
        -cert-dcl03-c,
        -misc-non-private-member-variables-in-classes,
        -bugprone-easily-swappable-parameters
        
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
# Checks:          '-*,modernize-*'
# WarningsAsErrors: ''
# HeaderFilterRegex: ''
# FormatStyle:     none
# User:            ''
CheckOptions:
  - key: cppcoreguidelines-avoid-do-while.IgnoreMacros
    value: '1'
# CheckOptions:
#   - key:             modernize-use-trailing-return-type.CheckFollowUp
#     value:           '0'
#   - key:             cppcoreguidelines-avoid-magic-numbers
#     value:           '0'
#   - key:             modernize-loop-convert.MaxCopySize
#     value:           '16'
#   - key:             modernize-loop-convert.MinConfidence
#     value:           reasonable
#   - key:             modernize-use-nodiscard.ReasonString
#     value:           ''
#   - key:             modernize-use-trailing-return-type.WarnOnImplicitIntConversion
#     value:           '0'